body {
    background-color: black;
    color: white;
}

/*
=================================

Login and Prep Room

*/

#frontTitle {
    margin: auto;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#loginForm {
    margin: auto;
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-size: larger;
}

.loginInput {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    outline: none;
    font-size: large;
    font-family: 'Piazzolla', serif;
}

.loginInput:focus {
    background-color: black;
    border: 2px solid indianred;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    outline: none
}

#invalidPasswd {
    margin: auto;
    text-align: center;
}

#loginButton {
    font-size: x-large;
    margin: 10px;
}

h1 {
    text-shadow: 2px 2px 2px indianred;
    font-size: 40px;
}

#chatAreaPrep {
    border: medium solid #e08e41;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
}

/*
================================
*/

.gameComponent {
    border: medium solid #e08e41;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    cursor: default;
}

.chatArea {
    padding: 30px;
}

.chatLog {
    height: 400px;
    overflow-y: scroll;
    color: white;
    margin: 5px;
}

.chatInput {
    width: 95%;
    cursor: text;
}

#pisteCerbere {
    padding: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.columnLeft {
    float: left;
    width: 75%;
}

.columnRight {
    float: right;
    width: 20%;
}

.columnLeftEqual {
    float: left;
    width: 45%;
}

.columnRightEqual {
    float: right;
    width: 45%;
}

/*=========================
    LIST OF PLAYERS
*/

#listPlayers {
    color: white;
    padding: 20px;
}

.pseudoListElement {
}

.pseudoList {
    font-family: 'Piazzolla', serif;
    width: 70%;
    float: right;
    margin-top: 1em;
}

.pseudoListalive {
    color: #19f0ff;
}

.pseudoListcerbere {
    color: #edb31f;
}

.pseudoListdead {
    color: #eb1717;
}

/*
===========================
PENDING EFFECTS
*/

.pendingEffect {
    width: 50%;
}

/*
===========================
BARKS
*/
#barkArea {
    display: flex;
}

#barksList {
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px 2px indianred;
    flex: 1;
}

#barkButtons {
    flex: 1;
}

.button {
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid lightsalmon;
    text-align: center;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 2px indianred;
    font-size: 14px;
    padding: 4px 2px;
    margin: 4px;
    font-family: 'Cinzel', serif;
}

.button:hover {
    background-color: lightsalmon;
    color: white;
}


/*
============================
DECK
*/

#deck {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.psgCard {
    width: 8em;
    border: medium solid blueviolet;
    margin: 3px;
}

.actionCard {
    width: 8em;
    border: medium solid goldenrod;
    margin: 3px;
}

.actionName {
    font-family: 'Cinzel', serif;
}

.effect {
    border: medium solid greenyellow;
    margin: 1px;
}

/*
===========================
MAP
*/
#gameMap {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scrollbar-color: rebeccapurple yellow;
    scrollbar-width: thin;
}

.mapCellContainer {
    flex: 0 0 80px;
    margin: 20px;
}

.mapCell {
    min-height: 40px;
}

.pawnMapDiv {
    display: inline-block;
    margin: 3px;
}

/*
============================
BANNER
*/

.bannerDiv {
    text-align: center;
    height: 6em;
}

.banner {
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 2px indianred;
}

.subBanner {
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 2px indianred;
}
